/* Layout */
.case-study__cover {
    padding-top: 4.5rem;
    max-width: 45rem;
    margin: 0 auto;
}

.case-study {
    grid-column: 1/3;
    padding-top: 8.75rem;
    padding-bottom: 8.75rem;
}

.intro__item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 16px;
    row-gap: 0;
    max-width: 45rem;
    margin: 0 auto;
    padding-bottom: 1.5rem;
}

.case-study__body {
    max-width: 45rem;
    margin: 0 auto;
    margin-bottom: 5rem;
}

.case-study__body ul {
    margin-bottom: 1.5rem;
    padding-left: 1.5rem;
}

.case-study__body li {
    margin-bottom: 0.5rem;
    padding-left: 1rem;
}

.case-study__image img {
    width: 100%;
    height: auto;
}

p.caption {
    margin: 1rem 0 4.75rem;
}

.case-study__video {
    margin: 0 auto;
    width: 300px;
    height: auto;
}

.intro__item h2 {
    grid-column: 1/3;
}

.intro__item p {
    grid-column: 1/3;
}

.case-study__cover p {
    margin: 1rem auto;
}

.case-study__image {
    max-width: 56rem;
    margin: 0 auto;
}

.case-study p,
.case-study h2 {
    margin: 0;
    margin-bottom: 0.75em;
}

.case-study h3 {
    padding-top: 1rem;
}

.intro__item h3 {
    padding-top: 0;
    line-height: 1;
}

.work__case-study {
    max-width: 45rem;
    margin: 0 auto;
}

.work__case-study .work__links {
    display: block;
}

@media (min-width: 55rem) {
    .case-study__intro {
        margin-bottom: 8.75rem;
    }

    .intro__item {
        padding-bottom: 3rem;
    }

    .intro__item h2 {
        grid-column: 1/2;
    }

    .intro__item p {
        grid-column: 2/3;
    }

    p.caption {
        margin: 1rem 0 8.75rem;
    }

    .work__case-study .work__links li {
        min-height: auto;
    }

    .work__links li .arrow {
        position: absolute;
        bottom: 50%;
        right: 2rem;
        margin-bottom: -12.5px;
    }
}

/* Styles */
.case-study h2, .case-study h3 {
    color: #8a8a93;
}

.case-study__cover p {
    color: #8a8a93;
}

/* Type */
.case-study__cover {
    text-align: left;
}

.case-study__cover h1, 
.case-study__cover p {
    font-size: clamp(1.5rem, 3vw, 2rem);
    font-weight: 600;
    max-width: 32ch;
    line-height: 1.2;
    margin: 0;
}

.case-study p,
.case-study h3 {
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-weight: 600;
    line-height: 1.5;
}

.case-study h2 {
    font-size: clamp(1.2rem, 3vw, 1.75rem);
    font-weight: 600;
}

p.caption {
    font-size: clamp(0.8rem, 5vw, 1.2rem);
    text-align: center;
    font-style: italic;
    font-weight: 400;
}
.case-study__body ul {
    list-style-type: disc;
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-weight: 600;
}

p.caption {
    color: #C2C6CD;
}