@font-face {
  font-family: 'Apercu';
  src: url('fonts/subset-ApercuPro.eot');
  src: url('fonts/subset-ApercuPro.eot?#iefix') format('embedded-opentype'), url('fonts/subset-ApercuPro.woff2') format('woff2'), url('fonts/subset-ApercuPro.woff') format('woff'), url('fonts/subset-ApercuPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu';
  src: url('fonts/subset-ApercuPro-Bold.eot');
  src: url('fonts/subset-ApercuPro-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/subset-ApercuPro-Bold.woff2') format('woff2'), url('fonts/subset-ApercuPro-Bold.woff') format('woff'), url('fonts/subset-ApercuPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-family: 'Apercu', sans-serif;
  line-height: 1;
  margin: 0;
  background: #fcfaf6;
  color: #333;
  padding-bottom: 8em;
}

.case-intro {
  margin-bottom: 8em;
}

br {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

button, a {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
}

button:focus {
  outline: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

.video-group {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.video-group .video-item {
  width: 45%;
  margin-bottom: 30px;
}

figure, .video-group {
  margin-top: 3em;
  margin-bottom: 8em;
}

figcaption {
  text-align: center;
  color: rgba(0,0,0,0.5);
  margin-top: 1em;
  font-size: 1rem;
}

.small {
  font-size: 1rem;
  display: block;
  color: #333;
}

.wrapper {
  margin: 0 auto;
  max-width: 594px;
  padding: 24px;
}

.front-page {
  margin-top: 10em;
  text-align: left;
}

p, ol {
  font-size: 18px;
  line-height: 1.5;
}

.intro p, h3 {
  font-size: 24px;
  line-height: 1.5;
}

.article h3 {
  margin-bottom: 0.5em;
}

.intro p:last-of-type {
  margin-bottom: 24px;
}

.more-info {
  margin: 32px 0;
}

.article--intro, .article {
  margin-bottom: 6em;
  text-align: left;
}

.article p+h3, .article ol+h3 {
  margin-top: 3em;
}

.article ol {
  margin-top: -0.5m;
  margin-bottom: 1em;
  list-style: decimal;
}

.article ol li {
  margin-bottom: 0.5em;
}

.more-info p, .article p {
  margin-bottom: 1em;
}

.article p {
  text-align: left;
}

.link {
  font-size: 18px;
  color: #4f4f4f;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  display: inline-block;
  line-height: 1;
}

.intro a {
  color: #4f4f4f;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  display: inline-block;
  line-height: 1;
}

.link--large {
  margin: 36px 0;
  display: inline-block;
}

.link--back {
  display: inline-block;
  position: absolute;
  top: 2em;
}

.section {
  font-size: 18px;
  padding-top: 124px;
}

.moji {
  font-size: 48px;
  margin-bottom: 24px;
}

.title {
  font-weight: bold;
  margin-bottom: 24px;
  line-height: 1.2;
  color: rgba(0,0,0,0.8);
}

.list-item {
  line-height: 1.5;
  margin-bottom: 18px;
}

.list--spaced .list-item {
  margin-bottom: 42px;
}

.work {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: left;
}

.work-item {
  width: 45%;
  margin-bottom: 2em;
}

.work .link {
  margin-top: 0.5em;
  display: inline-block;
  border-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  line-height: 1.4;
}

.is--hidden {
  display: none;
}

@media (min-width: 480px) {
  .intro p, h3 {
    font-size: 28px;
  }
  .moji, .title {
    margin-bottom: 28px;
  }
  .section, .link, p, ol {
    font-size: 20px;
  }
}

@media (min-width: 600px) {
  .intro p, h3 {
    font-size: 32px;
  }
  .moji, .title {
    margin-bottom: 32px;
  }
  .section, .link, p, ol {
    font-size: 22px;
  }
  .work-item {
    width: 30%;
  }
}

@media (min-width: 980px) {
  .intro p, h3 {
    font-size: 36px;
  }
  .moji, .title {
    margin-bottom: 36px;
  }
  .section, .link, p, ol {
    font-size: 24px;
  }
  .full-width {
    margin-left: calc(-100vw / 2 + 594px / 2);
    margin-right: calc(-100vw / 2 + 594px / 2);
  }
  .work {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0 2em;
  }
  .work-item {
    width: 22%;
    margin-right: 4%;
    margin-bottom: 3em;
  }
  .work-item:nth-child(4) {
    margin-right: 0;
  }
  .link:hover, .intro a:hover {
    color: #ff4237;
    border-bottom: 1px solid #ff4237;

  }
  .work-item:hover .link, .work-item .link:hover  {
    color: #ff4237;
    border-bottom: 1px solid rgba(0,0,0,0);
  }
  .work-item:active {
    -webkit-transform: scale(0.97);
        -ms-transform: scale(0.97);
            transform: scale(0.97);
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
  }

  .link:active, .intro a:active {
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-transition: all .05s ease-in-out;
    -o-transition: all .05s ease-in-out;
    transition: all .05s ease-in-out;
  }
}
